/* biodata atau latihan */
body {
  background-color: #dfe6e9;
}
h1 {
  color: black;
  text-align: center;
}
#fotobio {
  border-radius: 50%;
  width: 250px;
  height: 250px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
#informbio {
  text-align: center;
}
#ahlibio {
  text-align: center;
}
.isi {
  text-align: justify;
}
#kontakbio {
  text-align: justify;
}
.isikontak {
  text-align: justify;
  color: blue;
}

/* porto */
#kezia {
  color: palevioletred;
}
#foto {
  width: 250px;
  height: 300px;
  margin-left: 30px;
  float: left;
  border-radius: 10px;
}
#ttgporto {
  margin-top: 50px;
  margin-left: 300px;
  text-align: justify;
}
#porto {
  margin-left: 300px;
}
.ahliporto {
  margin-left: 300px;
}
#study {
  margin-top: 50px;
  text-align: center;
}
table,
tr,
th,
td {
  border: 3px solid #b2bec3;
  color: #2d3436;
  margin: auto;
}
#button {
  background-color: #3498db;
  border-radius: 5px;
}
